<h1><%= @list.name %></h1>

<ul>
<% @list.movies.each do |movie| %>
<li><%='Title :'%> <%=movie.title %></li>
<li><%='Overview :'%> <%= movie.overview %></li>
<li><%='Poster:'%><%= movie.poster_url %></li>
<li><%='Rating:'%> <%= movie.rating %></li>
<% end %>
</ul>
