<h1>See all your bookmarks</h1>

<ul>
<%@bookmarks.each do |bookmark| %>
<li><strong><%= bookmark.comment %></strong></li>
<li><%= bookmark.movie.title %></li>
<li><%= bookmark.movie.overview %></li>
<li><%= bookmark.movie.poster_url %></li>
<li><%= bookmark.movie.rating %></li>
<% end %>
</ul>
